In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_df = pd.read_csv('train.csv')

In [4]:
test_df = pd.read_csv('test.csv')

In [5]:
features_df = pd.read_csv('features.csv')

In [6]:
stores_df = pd.read_csv('stores.csv')

In [7]:
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [8]:
test_df['Date'] = pd.to_datetime(test_df['Date'])

In [9]:
features_df['Date'] = pd.to_datetime(features_df['Date'])

In [10]:
train_new = pd.merge(train_df, features_df, on=['Store', 'Date', 'IsHoliday'], how = 'left')

In [11]:
train_new = pd.merge(train_new, stores_df, on='Store', how = 'left')

In [12]:
train_new.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315

In [13]:
def log_transform_WeeklySales(col):
    Weekly_Sales = col[0]
    
    if Weekly_Sales <= 0:
        return 0
    else:
        return np.log(Weekly_Sales)

In [14]:
#Log transform Weekly sales
train_new['Log_WeeklySales'] = train_new[['Weekly_Sales']].apply(log_transform_WeeklySales,axis=1)

In [15]:
#Function to have a temperature band
def temperature_band(col): 
    Temperature = col[0]
    if (Temperature < 0):
        return 'Less than 0'
    elif (Temperature >= 0) & (Temperature < 20):
        return 'Less than 20'
    elif (Temperature >= 20) & (Temperature < 40):
        return 'Less than 40'
    elif (Temperature >= 40) & (Temperature < 60):
        return 'Less than 60'
    elif (Temperature >= 60) & (Temperature < 70):
        return 'Less than 70'
    elif (Temperature >= 70) & (Temperature < 80):
        return 'Less than 80'
    else:
        return 'Greater than 80'

In [16]:
train_new['Temperature Band'] = train_new[['Temperature']].apply(temperature_band,axis=1)

In [17]:
#Function to have a CPI range
def CPI_RANGE(col): 
    CPI = col[0]
    if (CPI >= 125) &(CPI < 130):
        return 'Less than 130'
    elif (CPI >= 130) & (CPI < 135):
        return 'Between 130 and 135'
    elif (CPI >= 135) & (CPI < 140):
        return 'Between 135 and 140'
    elif (CPI >= 140) & (CPI < 145):
        return 'Between 140 and 145'
    elif (CPI >= 145) & (CPI < 190):
        return 'Between 145 and 190'
    elif (CPI >= 190) & (CPI < 210):
        return 'Between 190 and 210'
    elif (CPI >= 210) & (CPI < 230):
        return 'Between 210 and 230'

In [18]:
train_new['CPI_Range'] = train_new[['CPI']].apply(CPI_RANGE,axis=1)

In [19]:
train_new['MarkDown1'].isnull().sum()

270889

In [20]:
train_new['MarkDown2'].isnull().sum()

310322

In [21]:
train_new['MarkDown3'].isnull().sum()

284479

In [22]:
train_new['MarkDown4'].isnull().sum()

286603

In [23]:
train_new['MarkDown5'].isnull().sum()

270138

In [24]:
train_new['Store'].nunique() ## Number of unique stores

45

In [25]:
train_new['Dept'].nunique() ## Count of Depts

81

In [26]:
train_new['Store'].value_counts().head() #record count by stores

13    10474
10    10315
4     10272
1     10244
2     10238
Name: Store, dtype: int64

In [27]:
train_new['Dept'].value_counts().head()

1     6435
10    6435
38    6435
21    6435
67    6435
Name: Dept, dtype: int64

In [28]:
# Create new dataframe by taking only the features from the train_new dataframe that can be used for analysis
weekly_sales = train_new[['Store', 'Dept', 'Date', 'IsHoliday', 'Temperature Band', 'Fuel_Price', 'CPI_Range', 'Unemployment', 'Type', 'Size', 'Weekly_Sales']]

In [29]:
weekly_sales.head()

,Store,Dept,Date,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales
0,1,1,2010-02-05,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50
1,1,1,2010-02-12,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49
2,1,1,2010-02-19,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55
3,1,1,2010-02-26,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54
4,1,1,2010-03-05,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90

In [30]:
weekly_sales.set_index('Date', inplace=True)

In [31]:
weekly_sales.head()

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales
Date,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90

### Min, max, mean, median, std of sales 3 Weeks, 6 Weeks, 9 Weeks before your date per department / store

In [32]:
## Previous 3 Weeks, 6 Weeks, 9 Weeks (lag)
weekly_sales['t-3'] = weekly_sales.loc[:,'Weekly_Sales'].shift(3)

C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
weekly_sales.head()

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales,t-3
Date,,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50,NaN
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49,NaN
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55,NaN
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54,24924.50
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90,46039.49

In [34]:
weekly_sales['t-6'] = weekly_sales.loc[:,'Weekly_Sales'].shift(6)
weekly_sales['t-9'] = weekly_sales.loc[:,'Weekly_Sales'].shift(9)

C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
weekly_sales.head(10)

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales,t-3,t-6,t-9
Date,,,,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50,NaN,NaN,NaN
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49,NaN,NaN,NaN
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55,NaN,NaN,NaN
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54,24924.50,NaN,NaN
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90,46039.49,NaN,NaN
2010-03-12,1,1,False,Less than 60,2.667,Between 210 and 230,8.106,A,151315,21043.39,41595.55,NaN,NaN
2010-03-19,1,1,False,Less than 60,2.720,Between 210 and 230,8.106,A,151315,22136.64,19403.54,24924.50,NaN
2010-03-26,1,1,False,Less than 60,2.732,Between 210 and 230,8.106,A,151315,26229.21,21827.90,46039.49,NaN
2010-04-02,1,1,False,Less than 70,2.719,Between 210 and 230,7.808,A,151315,57258.43,21043.39,41595.55,NaN
2010-04-09,1,1,False,Less than 70,2.770,Between 210 and 230,7.808,A,151315,42960.91,22136.64,19403.54,24924.5

In [36]:
## Min for previous 3 Weeks

weekly_sales['Min(t-1,t-2,t-3)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=3).min()

weekly_sales.head(10)

C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales,t-3,t-6,t-9,"Min(t-1,t-2,t-3)"
Date,,,,,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50,NaN,NaN,NaN,NaN
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49,NaN,NaN,NaN,NaN
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55,NaN,NaN,NaN,NaN
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54,24924.50,NaN,NaN,24924.50
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90,46039.49,NaN,NaN,19403.54
2010-03-12,1,1,False,Less than 60,2.667,Between 210 and 230,8.106,A,151315,21043.39,41595.55,NaN,NaN,19403.54
2010-03-19,1,1,False,Less than 60,2.720,Between 210 and 230,8.106,A,151315,22136.64,19403.54,24924.50,NaN,19403.54
2010-03-26,1,1,False,Less than 60,2.732,Between 210 and 230,8.106,A,151315,26229.21,21827.90,46039.49,NaN,21043.39
2010-04-02,1,1,False,Less than 70,2.719,Between 210 and 230,7.808,A,151315,57258.43,21043.39,41595.55,NaN,21043.39
2010-04-09,1,1,False,Less than 70,2.770,Between 210 and 230,7.808,A,151315,42960.91,22136.64,19403.54,24924.5,22136.64

In [37]:
weekly_sales['Min(t-1 to t-6)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=6).min()
weekly_sales['Min(t-1 to t-9)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=9).min()
weekly_sales.head(10)

C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales,t-3,t-6,t-9,"Min(t-1,t-2,t-3)",Min(t-1 to t-6),Min(t-1 to t-9)
Date,,,,,,,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54,24924.50,NaN,NaN,24924.50,NaN,NaN
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90,46039.49,NaN,NaN,19403.54,NaN,NaN
2010-03-12,1,1,False,Less than 60,2.667,Between 210 and 230,8.106,A,151315,21043.39,41595.55,NaN,NaN,19403.54,NaN,NaN
2010-03-19,1,1,False,Less than 60,2.720,Between 210 and 230,8.106,A,151315,22136.64,19403.54,24924.50,NaN,19403.54,19403.54,NaN
2010-03-26,1,1,False,Less than 60,2.732,Between 210 and 230,8.106,A,151315,26229.21,21827.90,46039.49,NaN,21043.39,19403.54,NaN
2010-04-02,1,1,False,Less than 70,2.719,Between 210 and 230,7.808,A,151315,57258.43,21043.39,41595.55,NaN,21043.39,19403.54,NaN
2010-04-09,1,1,False,Less than 70,2.770,Between 210 and 230,7.808,A,151315,42960.91,22136.64,19403.54,24924.5,22136.64,19403.54,19403.54

In [38]:
## Mean, median, min and max for previous 3 weeks, 6 weeks, 9 weeks

weekly_sales['Max(t-1,t-2,t-3)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=3).max()
weekly_sales['Mean(t-1,t-2,t-3)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=3).mean()
weekly_sales['Median(t-1,t-2,t-3)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=3).median()

weekly_sales['Max(t-1 to t-6)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=6).max()
weekly_sales['Mean(t-1 to t-6)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=6).mean()
weekly_sales['Median(t-1 to t-6)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=6).median()

weekly_sales['Max(t-1 to t-9)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=9).max()
weekly_sales['Mean(t-1 to t-9)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=9).mean()
weekly_sales['Median(t-1 to t-9)'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=9).median()

C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\b003373\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [41]:
weekly_sales.head()

,Store,Dept,IsHoliday,Temperature Band,Fuel_Price,CPI_Range,Unemployment,Type,Size,Weekly_Sales,...,Min(t-1 to t-9),"Max(t-1,t-2,t-3)","Mean(t-1,t-2,t-3)","Median(t-1,t-2,t-3)",Max(t-1 to t-6),Mean(t-1 to t-6),Median(t-1 to t-6),Max(t-1 to t-9),Mean(t-1 to t-9),Median(t-1 to t-9)
Date,,,,,,,,,,,,,,,,,,,,,
2010-02-05,1,1,False,Less than 60,2.572,Between 210 and 230,8.106,A,151315,24924.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-12,1,1,True,Less than 40,2.548,Between 210 and 230,8.106,A,151315,46039.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-19,1,1,False,Less than 40,2.514,Between 210 and 230,8.106,A,151315,41595.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-26,1,1,False,Less than 60,2.561,Between 210 and 230,8.106,A,151315,19403.54,...,NaN,46039.49,37519.846667,41595.55,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-05,1,1,False,Less than 60,2.625,Between 210 and 230,8.106,A,151315,21827.90,...,NaN,46039.49,35679.526667,41595.55,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
weekly_sales.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 421570 entries, 2010-02-05 to 2012-10-26
Data columns (total 25 columns):
Store                  421570 non-null int64
Dept                   421570 non-null int64
IsHoliday              421570 non-null bool
Temperature Band       421570 non-null object
Fuel_Price             421570 non-null float64
CPI_Range              421570 non-null object
Unemployment           421570 non-null float64
Type                   421570 non-null object
Size                   421570 non-null int64
Weekly_Sales           421570 non-null float64
t-3                    421567 non-null float64
t-6                    421564 non-null float64
t-9                    421561 non-null float64
Min(t-1,t-2,t-3)       421567 non-null float64
Min(t-1 to t-6)        421564 non-null float64
Min(t-1 to t-9)        421561 non-null float64
Max(t-1,t-2,t-3)       421567 non-null float64
Mean(t-1,t-2,t-3)      421567 non-null float64
Median(t-1,t-2,t-3)    421567 non-null float64
Max(t-1 to t-6)        421564 non-null float64
Mean(t-1 to t-6)       421564 non-null float64
Median(t-1 to t-6)     421564 non-null float64
Max(t-1 to t-9)        421561 non-null float64
Mean(t-1 to t-9)       421561 non-null float64
Median(t-1 to t-9)     421561 non-null float64
dtypes: bool(1), float64(18), int64(3), object(3)
memory usage: 80.8+ MB

In [42]:
weekly_sales[['Store', 'Weekly_Sales', 't-3', 'Min(t-1,t-2,t-3)', 'Max(t-1,t-2,t-3)', 'Mean(t-1,t-2,t-3)','Median(t-1,t-2,t-3)']]

,Store,Weekly_Sales,t-3,"Min(t-1,t-2,t-3)","Max(t-1,t-2,t-3)","Mean(t-1,t-2,t-3)","Median(t-1,t-2,t-3)"
Date,,,,,,,
2010-02-05,1,24924.50,NaN,NaN,NaN,NaN,NaN
2010-02-12,1,46039.49,NaN,NaN,NaN,NaN,NaN
2010-02-19,1,41595.55,NaN,NaN,NaN,NaN,NaN
2010-02-26,1,19403.54,24924.50,24924.50,46039.49,37519.846667,41595.55
2010-03-05,1,21827.90,46039.49,19403.54,46039.49,35679.526667,41595.55
2010-03-12,1,21043.39,41595.55,19403.54,41595.55,27608.996667,21827.90
2010-03-19,1,22136.64,19403.54,19403.54,21827.90,20758.276667,21043.39
2010-03-26,1,26229.21,21827.90,21043.39,22136.64,21669.310000,21827.90
2010-04-02,1,57258.43,21043.39,21043.39,26229.21,23136.413333,22136.64
2010-04-09,1,42960.91,22136.64,22136.64,57258.43,35208.093333,26229.21
2010-04-16,1,17596.96,26229.21,26229.21,57258.43,42149.516667,42960.91
2010-04-23,1,16145.35,57258.43,17596.96,57258.43,39272.100000,42960.91
2010-04-30,1,16555.11,42960.91,16145.35,42960.91,25567.740000,17596.96
2010-05-07,1,17413.94,17596.96,16145.35,17596.96,16765.806667,16555.11
2010-05-14,1,18926.74,16145.35,16145.35,17413.94,16704.800000,16555.11
2010-05-21,1,14773.04,16555.11,16555.11,18926.74,17631.930000,17413.94
2010-05-28,1,15580.43,17413.94,14773.04,18926.74,17037.906667,17413.94
2010-06-04,1,17558.09,18926.74,14773.04,18926.74,16426.736667,15580.43
2010-06-11,1,16637.62,14773.04,14773.04,17558.09,15970.520000,15580.43
2010-06-18,1,16216.27,15580.43,15580.43,17558.09,16592.046667,16637.62
2010-06-25,1,16328.72,17558.09,16216.27,17558.09,16803.993333,16637.62
2010-07-02,1,16333.14,16637.62,16216.27,16637.62,16394.203333,16328.72
2010-07-09,1,17688.76,16216.27,16216.27,16333.14,16292.710000,16328.72
2010-07-16,1,17150.84,16328.72,16328.72,17688.76,16783.540000,16333.14
2010-07-23,1,15360.45,16333.14,16333.14,17688.76,17057.580000,17150.84
2010-07-30,1,15381.82,17688.76,15360.45,17688.76,16733.350000,17150.84
2010-08-06,1,17508.41,17150.84,15360.45,17150.84,15964.370000,15381.82
2010-08-13,1,15536.40,15360.45,15360.45,17508.41,16083.560000,15381.82
2010-08-20,1,15740.13,15381.82,15381.82,17508.41,16142.210000,15536.40
2010-08-27,1,15793.87,17508.41,15536.40,17508.41,16261.646667,15740.13
...,...,...,...,...,...,...,...
2012-04-06,45,778.70,747.50,550.98,763.60,687.360000,747.50
2012-04-13,45,559.14,550.98,550.98,778.70,697.760000,763.60
2012-04-20,45,605.80,763.60,559.14,778.70,700.480000,763.60
2012-04-27,45,619.41,778.70,559.14,778.70,647.880000,605.80
2012-05-04,45,694.25,559.14,559.14,619.41,594.783333,605.80
2012-05-11,45,893.60,605.80,605.80,694.25,639.820000,619.41
2012-05-18,45,745.44,619.41,619.41,893.60,735.753333,694.25
2012-05-25,45,795.94,694.25,694.25,893.60,777.763333,745.44
2012-06-01,45,874.64,893.60,745.44,893.60,811.660000,795.94
2012-06-08,45,713.50,745.44,745.44,874.64,805.340000,795.94
2012-06-15,45,856.35,795.94,713.50,874.64,794.693333,795.94
2012-06-22,45,622.62,874.64,713.50,874.64,814.830000,856.35
2012-06-29,45,690.52,713.50,622.62,856.35,730.823333,713.50
2012-07-06,45,659.65,856.35,622.62,856.35,723.163333,690.52
2012-07-13,45,695.21,622.62,622.62,690.52,657.596667,659.65
2012-07-20,45,845.30,690.52,659.65,695.21,681.793333,690.52
2012-07-27,45,657.63,659.65,659.65,845.30,733.386667,695.21
2012-08-03,45,516.46,695.21,657.63,845.30,732.713333,695.21
2012-08-10,45,727.49,845.30,516.46,845.30,673.130000,657.63
2012-08-17,45,500.16,657.63,516.46,727.49,633.860000,657.63
2012-08-24,45,415.40,516.46,500.16,727.49,581.370000,516.46
2012-08-31,45,346.04,727.49,415.40,727.49,547.683333,500.16
2012-09-07,45,352.44,500.16,346.04,500.16,420.533333,415.40
2012-09-14,45,605.96,415.40,346.04,415.40,371.293333,352.44
2012-09-21,45,467.30,346.04,346.04,605.96,434.813333,352.44
2012-09-28,45,508.37,352.44,352.44,605.96,475.233333,467.30
2012-10-05,45,628.10,605.96,467.30,605.96,527.210000,508.37
2012-10-12,45,1061.02,467.30,467.30,628.10,534.590000,508.37
2012-10-19,45,760.01,508.37,508.37,1061.02,732.496667,628.10
2012-10-26,45,1076.80,628.10,628.10,1061.02,816.376667,760.01