In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_df = pd.read_csv('train.csv')

In [4]:
test_df = pd.read_csv('test.csv')

In [5]:
features_df = pd.read_csv('features.csv')

In [6]:
stores_df = pd.read_csv('stores.csv')

In [7]:
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [8]:
test_df['Date'] = pd.to_datetime(test_df['Date'])

In [9]:
features_df['Date'] = pd.to_datetime(features_df['Date'])

In [10]:
## Previous 3 Weeks (lag)

#train_df['t-3'] = train_df['Weekly_Sales'].shift(3)

In [11]:
## Min for previous 3 Weeks

#weekly_sales.loc[:,'Min_t-3'] = weekly_sales['Weekly_Sales'].shift(1).rolling(window=3).min()
#train_df['Min_t-3'] = train_df['Weekly_Sales'].shift(1).rolling(window=3).min()

In [12]:
sample = train_df.head(10).copy()

In [13]:
sample

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False
5      1     1 2010-03-12      21043.39      False
6      1     1 2010-03-19      22136.64      False
7      1     1 2010-03-26      26229.21      False
8      1     1 2010-04-02      57258.43      False
9      1     1 2010-04-09      42960.91      False

In [14]:
def features(df):
    return df.shift(1)

In [15]:
sample['t-1'] = sample[['Weekly_Sales']].apply(features,axis=1)

In [16]:
sample

   Store  Dept       Date  Weekly_Sales  IsHoliday  t-1
0      1     1 2010-02-05      24924.50      False  NaN
1      1     1 2010-02-12      46039.49       True  NaN
2      1     1 2010-02-19      41595.55      False  NaN
3      1     1 2010-02-26      19403.54      False  NaN
4      1     1 2010-03-05      21827.90      False  NaN
5      1     1 2010-03-12      21043.39      False  NaN
6      1     1 2010-03-19      22136.64      False  NaN
7      1     1 2010-03-26      26229.21      False  NaN
8      1     1 2010-04-02      57258.43      False  NaN
9      1     1 2010-04-09      42960.91      False  NaN