In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_df = pd.read_csv('train.csv')

In [4]:
test_df = pd.read_csv('test.csv')

In [5]:
features_df = pd.read_csv('features.csv')

In [6]:
stores_df = pd.read_csv('stores.csv')

In [7]:
train_df['Date'] = pd.to_datetime(train_df['Date'])

In [8]:
test_df['Date'] = pd.to_datetime(test_df['Date'])

In [9]:
features_df['Date'] = pd.to_datetime(features_df['Date'])

In [10]:
train_new = pd.merge(train_df, features_df, on=['Store', 'Date', 'IsHoliday'], how = 'left')

In [11]:
train_new = pd.merge(train_new, stores_df, on='Store', how = 'left')

In [12]:
train_new.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315

In [19]:
train_new['MarkDown1'].isnull().sum()

270889

In [20]:
train_new['MarkDown2'].isnull().sum()

310322

In [21]:
train_new['MarkDown3'].isnull().sum()

284479

In [22]:
train_new['MarkDown4'].isnull().sum()

286603

In [23]:
train_new['MarkDown5'].isnull().sum()

270138

In [24]:
train_new['Store'].nunique() ## Number of unique stores

45

In [25]:
train_new['Dept'].nunique() ## Count of Depts

81

In [26]:
train_new['Store'].value_counts().head() #record count by stores

13    10474
10    10315
4     10272
1     10244
2     10238
Name: Store, dtype: int64

In [27]:
train_new['Dept'].value_counts().head()

1     6435
10    6435
38    6435
21    6435
67    6435
Name: Dept, dtype: int64

In [66]:
# Create new dataframe by taking only the features from the train_new dataframe that can be used for analysis
weekly_sales = train_new[['Store', 'Dept', 'Date', 'IsHoliday', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'Type', 'Size', 'Weekly_Sales']]

In [67]:
#del(weekly_sales)

In [68]:
weekly_sales.head()

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,Weekly_Sales
0,1,1,2010-02-05,False,42.31,2.572,211.096358,8.106,A,151315,24924.50
1,1,1,2010-02-12,True,38.51,2.548,211.242170,8.106,A,151315,46039.49
2,1,1,2010-02-19,False,39.93,2.514,211.289143,8.106,A,151315,41595.55
3,1,1,2010-02-26,False,46.63,2.561,211.319643,8.106,A,151315,19403.54
4,1,1,2010-03-05,False,46.50,2.625,211.350143,8.106,A,151315,21827.90

In [35]:
#weekly_sales.set_index('Date', inplace=True)

In [57]:
#weekly_sales.head()

,Store,Dept,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,Weekly_Sales
Date,,,,,,,,,,
2010-02-05,1,1,False,42.31,2.572,211.096358,8.106,A,151315,24924.50
2010-02-12,1,1,True,38.51,2.548,211.242170,8.106,A,151315,46039.49
2010-02-19,1,1,False,39.93,2.514,211.289143,8.106,A,151315,41595.55
2010-02-26,1,1,False,46.63,2.561,211.319643,8.106,A,151315,19403.54
2010-03-05,1,1,False,46.50,2.625,211.350143,8.106,A,151315,21827.90

### Min, max, mean, median, std of sales 3 Weeks, 6 Weeks, 9 Weeks before your date per department / store

In [73]:
strsales = weekly_sales.groupby(['Date', 'Store'])[['Weekly_Sales']].sum()

In [75]:
strsales.head(50)

                  Weekly_Sales
Date       Store
2010-02-05 1        1643690.90
           2        2136989.46
           3         461622.22
           4        2135143.87
           5         317173.10
           6        1652635.10
           7         496725.44
           8        1004137.09
           9         549505.55
           10       2193048.75
           11       1528008.64
           12       1100046.37
           13       1967220.53
           14       2623469.95
           15        652122.44
           16        477409.30
           17        789036.02
           18       1205307.50
           19       1507637.17
           20       2401395.47
           21        798593.88
           22       1033017.37
           23       1364721.58
           24       1388725.63
           25        677231.63
           26       1034119.21
           27       1874289.79
           28       1672352.29
           29        538634.46
           30        465108.52
           31       1469252.05
           32       1087616.19
           33        274593.43
           34        956228.96
           35       1230613.50
           36        467546.74
           37        536006.73
           38        358496.14
           39       1230596.80
           40       1001943.80
           41       1086533.18
           42        543384.01
           43        647029.28
           44        281090.95
           45        890689.51
2010-02-12 1        1641957.44
           2        2137809.50
           3         420728.96
           4        2188307.39
           5         311825.70